@font-face {
  font-family: "Chakra Petch";
  src: url("./assets/fonts/ChakraPetch/ChakraPetch-Regular.ttf")
    format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./assets/fonts/ChakraPetch/ChakraPetch-Medium.ttf")
    format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./assets/fonts/ChakraPetch/ChakraPetch-SemiBold.ttf")
    format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./assets/fonts/ChakraPetch/ChakraPetch-Bold.ttf")
    format("truetype");
  font-weight: 900;
}

:root {
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

